# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.sdf
Sandbox/x64/Debug/Sandbox/include/SceneService.h
Sandbox/x64/Debug/Sandbox/include/Shader.h
Sandbox/x64/Debug/Sandbox/include/Singleton.h
Sandbox/x64/Debug/Sandbox/include/SmartLogger.h
Sandbox/x64/Debug/Sandbox/include/StringUtils.h
Sandbox/x64/Debug/Sandbox/include/Timer.h
Sandbox/x64/Debug/Sandbox/include/Transform.h
Sandbox/x64/Debug/Sandbox/include/Vertex.h
Sandbox/x64/Debug/Sandbox/include/Window.h
Sandbox/x64/Debug/Sandbox/lib/Sandboxd.exp
Sandbox/x64/Debug/Sandbox/resources/shaders/basic_shader.fs
Sandbox/x64/Debug/Sandbox/resources/shaders/basic_shader.vs
Sandbox/x64/Debug/
Sandbox/Sandbox.VC.opendb
